<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
      <div class="flex justify-content-between flex-wrap">
        <h3 class="ml-4">Incidents</h3>
        <div class="mt-2 mr-2">
          <a
            pButton
            pRipple
            label="Add Incident"
            icon="pi pi-user-plus"
            class="bg-cyan-600"
            [routerLink]="['/shipments/incident/new']"
          >
          </a>
        </div>
      </div>
    </ng-template>
  
    <p>
      <p-table [value]="incidents">
        <ng-template pTemplate="header">
          <tr>
            <th>Description</th>
            <th>Incident Date</th>
            <th>Resolution Status</th>
            <th>Correspondence</th>
            <th class="flex justify-content-center flex-wrap">Actions</th>
          </tr>
        </ng-template>
  
        <ng-template pTemplate="body" let-incident>
          <tr>
            <td>{{ incident.description }}</td>
            <td>{{ incident.incidentDate }}</td>
            <td>{{ incident.resolutionStatus }}</td>
            <td>{{ incident.correspondence }}</td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-print"
                class="bg-cyan-600 mr-1"
              >
              </button>
  
              <a
                pButton
                pRipple
                icon="pi pi-sync"
                severity="warning"
                class="mr-1"
                [routerLink]="['/shipments/incident/edit', incident.id]"
              >
              </a>
  
              <button
                pButton
                pRipple
                severity="danger"
                icon="pi pi-eraser"
                class="mr-1"
                (click)="delete(incident.id)"
              >
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p>
  </p-card>
  