<p-card header="Create Route" [style]="{ width: '100%' }">
    <div>
        <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-3 bg-faded">
            <div class="grid">
                <div class="col-12 sm:col-6">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input class="w-12" type="text" pInputText formControlName="origin" placeholder="Origin">
                        <div *ngIf="origin?.invalid && origin?.touched" class="p-error">
                            Origin is required.
                        </div>
                    </div>
                </div>

                <div class="col-12 sm:col-6">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-wallet"></i></span>
                        <input class="w-12" type="text" pInputText formControlName="destination" placeholder="Destination">
                        <div *ngIf="destination?.invalid && destination?.touched" class="p-error">
                            Destination is required.
                        </div>
                    </div>
                </div>

                <div class="col-12 sm:col-6">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-wallet"></i></span>
                        <input class="w-12" type="number" pInputText formControlName="stops" placeholder="Stops">
                        <!-- No se muestra error ya que 'stops' es opcional -->
                    </div>
                </div>

                <div class="col-12 sm:col-6">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-building"></i></span>
                        <select 
                          class="w-12" 
                          pInputText 
                          formControlName="transport" 
                          title="branch">
                          <option value="" disabled>Select Transport(s)</option>
                          <option *ngFor="let transport of transports" [value]="transport.id">{{ transport.transportation }} {{ transport.capacity }}</option>
                        </select>
                      </div>
                </div>
            </div>

            <div class="flex justify-content-center flex-wrap">
                <button pButton pRipple label="Save" icon="pi pi-save" severity="info" class="mr-4"
                    type="submit" [disabled]="form.invalid"></button>
                <button pButton pRipple label="Cancel" icon="pi pi-times-circle" severity="warning" class="mr-4"
                    type="button" (click)="cancel()"></button>
            </div>
        </form>
    </div>
</p-card>
