<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
      <div class="flex justify-content-between flex-wrap">
        <h3 class="ml-4">Employees</h3>
        <div class="mt-2 mr-2">
          <a
            pButton
            pRipple
            label="Add Employee"
            icon="pi pi-user-plus"
            class="bg-cyan-600"
            [routerLink]="['/persons/employee/new']"
          >
          </a>
        </div>
      </div>
    </ng-template>
  
    <p>
      <p-table [value]="employees">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Branch</th>
            <th>Assigned Route</th>
            <th class="flex justify-content-center flex-wrap">Actions</th>
          </tr>
        </ng-template>
  
        <ng-template pTemplate="body" let-employee>
          <tr>
            <td>{{ employee.fullname }}</td>
            <td>{{ employee.position }}</td>
            <td>{{ employee.branch }}</td>
            <td>{{ employee.assignedRoute }}</td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-print"
                class="bg-cyan-600 mr-1"
              >
              </button>
  
              <a
                pButton
                pRipple
                icon="pi pi-sync"
                severity="warning"
                class="mr-1"
                [routerLink]="['/persons/employee/edit', employee.id]"
              >
              </a>
  
              <button
                pButton
                pRipple
                severity="danger"
                icon="pi pi-eraser"
                class="mr-1"
                (click)="delete(employee.id)"
              >
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p>
  </p-card>
  