<p-card header="Update Customers"  [style]="{ width: '100%' }">
    <ng-template pTemplate="header">

    </ng-template>
    <div>
      <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-3 bg-faded">


        <div class="grid">
            <div class="col-12 sm:col-6">
                <div class="p-inputgroup mb-1">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input class="w-12" type="text" pInputText formControlName="dni" placeholder="customer dni"  title="dni">         
                </div>
            </div>
  
            <div class="col-12 sm:col-6">
              <div class="p-inputgroup mb-1 ">
                    <span class="p-inputgroup-addon"><i class="pi pi-wallet"></i></span>
                    <input class="w-12" type="text" pInputText formControlName="fullname" placeholder="customer fullname" title="fullname" >          
              </div>
            </div>
          </div>
  
          <div class="grid">
              <div class="col-12 sm:col-6">
                  <div class="p-inputgroup mb-1">
                      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                      <input class="w-12" type="text" pInputText formControlName="address" placeholder="customer address"  title="address">         
                  </div>
              </div>
    
              <div class="col-12 sm:col-6">
                <div class="p-inputgroup mb-1 ">
                      <span class="p-inputgroup-addon"><i class="pi pi-wallet"></i></span>
                      <input class="w-12" type="text" pInputText formControlName="phoneNumber" placeholder="customer phoneNumber" title="phoneNumber" >          
                </div>
              </div>
          </div>
  
          <div class="grid">
              <div class="col-12 sm:col-6">
                  <div class="p-inputgroup mb-1">
                      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                      <input class="w-12" type="text" pInputText formControlName="mail" placeholder="customer mail"  title="mail">         
                  </div>
              </div>
    
              <div class="col-12 sm:col-6">
                <div class="p-inputgroup mb-1">
                  <span class="p-inputgroup-addon"><i class="pi pi-wallet"></i></span>
                  <select class="w-12" formControlName="customer_type" title="Customer Type">
                    <option value="" disabled selected>Select Customer Type</option>
                    <option value="NORMAL">Normal</option>
                    <option value="PREMIUM">Premium</option>
                  </select>
                </div>
              </div>
          </div>

        <div class="grid">



        </div>

        <div class="flex justify-content-center flex-wrap">
          <button 
                      pButton 
                      pRipple
                      label="Update"
                      icon="pi pi-save"
                      severity="info"
                      class="mr-4"
                      type="submit"
          ></button>

          <button 
                      pButton 
                      pRipple
                      label="Cancel"
                      icon="pi pi-times-circle"
                      severity="warning"
                      class="mr-4"
                      type="button"
                      (click)="cancel()"
          ></button>
        </div>


    </form> 

    </div>
    <ng-template pTemplate="footer">

    </ng-template>
  </p-card>
